body {
    background-color: #e9ecef6b !important;
    font-style: italic !important;
}
ul.dropdown-menu .sign_out_btn {
    height: 140px !important;
}    
ul.dropdown-menu .sign_out_btn img {
    height: 50px !important;
    width: 50px !important;
}    
ul.dropdown-menu .sign_out_btn small {
    z-index: 5;
    color: rgba(255, 255, 255, 0.8);
}    
ul.dropdown-menu .sign_out_btn p {
    z-index: 5 !important;
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 17px !important;
    margin-top: 0 !important;
}    
#catalogue_section #catalogue_form .add_more_btn label {
    visibility: hidden !important;
}    
input.form-control,
select.form-control {
    height: 30px !important;
    padding: 3px 12px !important;
    font-size: 13px !important;
}    
.btn {
    padding: 3px 12px !important;
}    
#catalogue_section #catalogue_form .add_more_btn #add_more,
#catalogue_section #catalogue_form .add_more_btn .remove_row {
    padding: 1px 9px !important;
}
#table_body_here table tr th, 
#table_body_here table tr td {
    text-align: center !important;
}
#table_body_here table tr td i {
    color: #a0051a !important;
}
.login-box, .register-box {
    width: 360px;
    margin: 6% auto;
}
.login-logo img {
    width: 100%;
}
.main-header .navbar {
	margin-left: 0px;
}
.content-wrapper, .main-footer {
    margin-left: 0px;
}
nav.shadow-sm.title-header {
    line-height: 0;
}
.navbar-brand.title-navbar {
    padding-top: .32rem;
    padding-bottom: .32rem;
    font-size: 0.8rem;
	font-weight:700;
}
.pull-right{
	float:right!important
}
.pull-left{
	float:left!important
}
.clearfix:after,
.clearfix:before,

.text-left{
	text-align:left
}
.text-right{
	text-align:right
}
.text-center{
	text-align:center
}
.text-justify{
	text-align:justify
}
.text-nowrap{
	white-space:nowrap
}
.text-lowercase{
	text-transform:lowercase
}
.text-uppercase{
	text-transform:uppercase
}
.text-capitalize{
	text-transform:capitalize
}
.text-muted{
	color:#777
}
.text-primary{
	color:#337ab7
}
a.text-primary:focus,
a.text-primary:hover{
	color:#286090
}
.text-success{
	color:#3c763d
}
a.text-success:focus,
a.text-success:hover{
	color:#2b542c
}
.text-info{
	color:#31708f
}
a.text-info:focus,
a.text-info:hover{
	color:#245269
}
.text-warning{
	color:#8a6d3b
}
a.text-warning:focus,
a.text-warning:hover{
	color:#66512c
}
.text-danger{
	color:#a94442
}
a.text-danger:focus,
a.text-danger:hover{
	color:#843534
}
.text-bold {
	font-weight : bold;
}
.top-border {
	border-top : 1px solid #000;
}
.bottom-border {
	border-bottom : 1px solid #000;
}
.left-border {
	border-left : 1px solid #000;
}
.right-border {
	border-right : 1px solid #000;
}
.border-all {
	border : 1px solid #000;
}
.border-top-bottom {
	border-bottom : 1px solid #000;
	border-top : 1px solid #000;
}
.mr-ml-3 {
	margin-right : 0.19 rem;
	margin-left : 0.19 rem;
}
.card-title {
    padding: .10rem 1.25rem;
}
.gateway-card {
	padding-left: 30%;
}
.gateway-card .master-title a {
	color: #000;
}
.gateway-card .master-title a:hover {
	text-decoration: none;
	color: #dc3545;
}
.card {
    border: 1px solid #2176bd;
}
.modal-header form {
    width: 100%;
}
.modal-header.master-creation {
    display: block !important;
}
.modal-header .master-header .close {
    padding: 1rem 0.5rem;
    margin: -1rem -1rem -1rem auto;
}
.masters-body a {
	color: #000000;
	font-weight: normal;
}
.card-body .masters-body a:hover {
	text-decoration: none;
	color: #dc3545;
}
@media (min-width: 576px) {
	.modal-dialog.master-creation-dialog {
	    max-width: 400px !important;
	    margin: 0rem auto !important;
	}
}
@media (min-width: 576px) {
	.modal-dialog.group-creation-dialog {
	    max-width: 800px !important;
	    margin: 0.30rem auto !important;
	}
}
.card-body.body-popup {
    max-height:425px;
    overflow:auto;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.05rem !important;
}
label.error {
    color: #e3342f;
    font-size: 13px;
    font-weight: bold;
}
.card-body.group-list {
	max-height: 495px;
    overflow: auto
}
nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm.title-header {
    background: #3c8dbc !important;
}
nav.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
	background: #3c8dbc !important;
}
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255) !important;
}
.card-header {
    border: 1px solid #0062cc !important;
}
.card-body {
    border: 1px solid #0062cc !important;
}
.form-control {
    border: 0 !important;
    border-bottom: 1px solid #000 !important;
}
label {
    margin-bottom: 0 !important;
}
textarea:focus, input:focus{
    outline: none !important;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) !important;
}





















